RCLONE_CONFIG_CHRONOFOLD_BACKUP_TYPE=drive
RCLONE_CONFIG_CHRONOFOLD_BACKUP_CLIENT_ID=
RCLONE_CONFIG_CHRONOFOLD_BACKUP_CLIENT_SECRET=
RCLONE_CONFIG_CHRONOFOLD_BACKUP_SCOPE=drive
RCLONE_CONFIG_CHRONOFOLD_BACKUP_TOKEN='{"access_token":"...","token_type":"Bearer","refresh_token":"...","expiry":"2006-01-02T15:04:05Z"}'
