# Notion 官方库
notion-client

# Google API 核心库
google-api-python-client
google-auth-httplib2
google-auth-oauthlib

# 环境管理（读取 .env 文件）
python-dotenv

# YAML handling
PyYAML

# AI
openai

# Async file I/O
aiofiles

# Async HTTP client
aiohttp
python-telegram-bot
